<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" type="text/css" href="../src/angular-input-enhancer.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="../src/angular-input-enhancer.js"></script>
    <script src="app.js"></script>
  </head>

  <body ng-app="app" ng-strict-di>
    <div id="ctrl" ng-controller="ctrl">
      <form name="form">
        <angular-input-enhancer name="email"
                                id="email"
                                label="Email Address"
                                error-messages="{
                                  required: 'Required field',
                                  email: 'Invalid email address',
                                  pattern: 'Field cannnot contain digits'
                                }">
          <input type="email"
                 id="email"
                 name="email"
                 ng-model="data.email"
                 ng-required="true"
                 ng-pattern="/^[^0-9]*$/">
        </angular-input-enhancer>

        <angular-input-enhancer name="gender"
                                id="gender"
                                label="Gender"
                                error-messages="{
                                  required: 'Please select a gender'
                                }">
          <select name="gender"
                  id="gender"
                  ng-model="data.genders.selected"
                  ng-required="true"
                  ng-options="gender.type for gender in data.genders.available">
            <option value="">Select your gender</option>
          </select>
        </angular-input-enhancer>

      </form>
    </div>
  </body>

</html>
